In [263]:
import numpy as np
import pandas as pd
import warnings

In [264]:
warnings.filterwarnings('ignore')

### **Get the Dataset**

In [265]:
columns_names = ["user_id","item_id","rating","timestamp"]
df = pd.read_csv("mv-100k/u.data",sep='\t',names=columns_names)

In [266]:
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [267]:
df.shape

(100000, 4)

In [268]:
df['user_id'].nunique() # how many uniqe users are there

943

In [269]:
df['item_id'].nunique() # how ma ny uniques movies()

1682

In [275]:
movies_titles = pd.read_csv('mv-100k/movies.csv',header=None) 
# we only need movie and id columns cz else we already extracted from u.data file. 
# (only use full data we need)
movies_titles.head()

,0,1,2
0,movieId,title,genres
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,2,Jumanji (1995),Adventure|Children|Fantasy
3,3,Grumpier Old Men (1995),Comedy|Romance
4,4,Waiting to Exhale (1995),Comedy|Drama|Romance

In [272]:
movies_titles.shape

(9126, 3)

In [277]:
movies_titles = movies_titles[[0,1]]

### Same work using numpy functionality